body {
  font-weight: 500;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI",
    "Noto Sans Japanese", "ヒラギノ角ゴ ProN W3", Meiryo, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 800 !important;
}

strong {
  font-weight: 700;
}

/* offset navbar height in suto scrolling */
/* *[id]::before {
  display: block;
  content: " ";
  margin-top: -40px;
  height: 40px;
  visibility: hidden;
} */

header.hero {
  background-image: url("./assets/myartwork_web.svg");
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
  background-color: rgba(255, 255, 255, 1);
}

header.hero h1 {
  font-family: "Cardo", serif;
  font-size: 8vh;
  font-weight: 800;
  text-shadow: 0 0 15px #bebebe;
}

header.hero h2 {
  font-weight: 800;
  font-size: 6vh;
  font-family: serif;
  text-shadow: 0 0 15px #bebebe;
}

#MyIcon {
  max-width: 15vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#MyIcon img {
  border-radius: 5%;
  box-shadow: 0 0 15px #bebebe;
}

.box {
  max-width: 94vw;
  background: linear-gradient(to right, #00b4db, #0084b0);
  color: white;
}

#initial strong {
  color: white;
}

#social i.lab {
  font-size: 32px;
  color: white;
  padding: 0 0.3ex;
}

#social i:not(.la-at):hover {
  transition: 0.3s;
  color: black;
}

/* a work-around until Font Awesome supports Notion icon */
#notion_icon {
  margin: 0.1em 0 0 0.4em;
  vertical-align: top;
  width: 27px;
  height: 27px;
}

#down {
  margin-top: 1em;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
}

#down i.las {
  font-size: 32px;
  color: white;
  animation: fadeIn 1s infinite alternate;
}


#main h3 {
  border-bottom: 4px solid lightseagreen;
}

#main dt {
  font-weight: 700;
  color: lightseagreen;
}

#main dd ul {
  margin-top: 0;
}

#orcid-id-logo {
  vertical-align: text-top;
}

footer {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}